.survey-section,
.survey-page,
.presurvey-page {
    .nav-gotoform-btn {
        display: none !important;
    }
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-gray);
    height: 50px;
    color: white;
    font-family: "Crimson", 'Times New Roman', Times, serif;
    padding: 0 2rem;

    &>div>ul {
        display: flex;
        align-items: center;
        gap: 1rem;
        height: 100%;

        padd & li {
            cursor: pointer;
        }
    }

    .nav-logo {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        & span {}

        & img {
            width: 2rem;
        }
    }

    .nav-username {
        display: flex;
        align-items: center;
        gap: 1rem;


    }

    .my-profile-btn {
        color: var(--dark-gray);
        background-color: white;
        padding: 0.2rem 1rem;
        display: flex;
        align-items: center;
        gap: 0.2rem;

        & svg {
            height: 1.5rem;
        }

    }


    .nav-subscribe-btn,
    .nav-logout-btn {
        color: var(--dark-gray);
        background-color: white;
        padding: 0.3rem 0.5rem;
        cursor: pointer;
    }

    .nav-gotoform-btn {
        color: var(--dark-gray);
        background-color: #FFF5BF;
        padding: 0.3rem 1rem;
        border-radius: 30px;
        margin-right: 2rem;
    }

    .nav-cart-btn svg {
        color: white;
        height: 1.5rem;
    }



}