body {
  /* overflow: hidden; */

  &::before {
    content: " ";
    height: 50px;
    width: 100%;
    background-color: var(--dark-gray);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &::after {
    content: " ";
    height: 200%;
    width: 200%;
    background-color: black;
    opacity: 10%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    transform: rotate(40deg);
    transform-origin: top left;

  }
}

#root {
  z-index: 1;
  /* max-width: 1400px; */
  margin: 0 auto;
  position: relative;
}